mixin Checkbox(props)
  -
    const { label, ligth } = props || {}

  if(ligth)
    label.check
      input.check__input(type="checkbox")
      span.check__box.check__box_ligth
      span=label
  else
    label.check
      input.check__input(type="checkbox")
      span.check__box
      span=label