-
    const mainTitle = 'This is main example block title'
    const exampleItems = [
        {
            title: 'Example of image:',
            img: {
                src: '/src/assets/images/pictures/example.jpg',
                alt: 'example image',
            }
        },
        {
            title: 'Example of button component usage:',
            buttons: [
                {
                    label: 'Go to About page',
                    link: '/about.html',
                },
                {
                    label: 'Go to form',
                    link: '/formPage.html',
                }
            ]
        },
        {
            title: 'Example of javascript code:',
            button: {
                label: 'Change border',
                jClass: 'j-example-button',
            },
            img: {
                src: '/src/assets/images/paints/giraffe.svg',
                alt: 'example paint',
            }
        },
    ]

block content
