-
    const logoArray = [
            {'src': '../../assets/images/pictures/partnerLogo/dudeperfect.png',
                'alt': 'dudeperfectLogo'},
            {'src': '../../assets/images/pictures/partnerLogo/Pewdiepie.png', 
                'alt': 'PewdiepieLogo' },
            {'src': '../../assets/images/pictures/partnerLogo/MrBeast.png', 
                'alt': 'MrBeastLogo' },
            {'src': '../../assets/images/pictures/partnerLogo/wb.png', 
                'alt': 'WBLogo' },
            {'src': '../../assets/images/pictures/partnerLogo/netflix.png', 
                'alt': 'netflixLogo' },
            {'src': '../../assets/images/pictures/partnerLogo/pixar.png', 
                'alt': 'pixarLogo' },
            {'src': '../../assets/images/pictures/partnerLogo/pickypicks.png', 
                'alt': 'pickypicksLogo'}
        ]