.partner {
  width: 100%;
  padding: 5rem 0 6rem;
  background-color: $c-grey;
  padding-top: 4.9rem;

  &__title {
    font-family: $title-font;
    font-size: rem(20);
    line-height: 3rem;
    letter-spacing: -0.04rem;
    font-weight: 600;
    text-align: center;
  }

  &__wrapp {
    margin: 0 auto;
    margin-top: 3.5rem;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    &_item {
      display: flex;
      align-items: center;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1243px) {
  .partner {
    padding: 4rem 0 4rem;
    &__list {
      margin-top: 4rem;
      padding: 0 1rem;
      &_item {
        img {
          height: 40px;
          max-width: 90px;
          object-fit: scale-down;
        }
      }
    }
  }
}

@media screen and (min-width: 319px) and (max-width: 767px) {
  .partner {
    padding: 3rem 0;
    &__title {
      font-size: 1.8rem;
      line-height: 172%;
      letter-spacing: -0.14rem;
    }
    &__wrapp {
      margin-top: 0.5rem;
    }
    &__list {
      margin-top: 2rem;
      flex-wrap: wrap;
      justify-content: space-between;
      &_item {
        
        margin-bottom: 2.3rem;
        max-width: 90px;
        min-height: 40px;
        &:nth-child(n+5){
          margin-bottom: 0;
        }
        &:nth-child(4n) {
          page-break-after: always;
          break-after: always;
        }
        img {
          object-fit: fill;
          width: 100%;
        }
      }
    }
  }
}