// ----------FONTS
$primary-font: 'Inter', sans-serif;
$title-font: 'Poppins', sans-serif;

/* ui-step */
$step: 4;

// ----------BREAKPOINTS
$br-mobile: 360;
$br-tablet: 768;
$br-desktop: 1024;
$br-desktop-max: 1920;

// ----------COLORS
$c-white: #FFF;
$c-black: #000;
$c-red: #DE3163;
$c-blue: #31BADE;
$c-green: #00B1A5;

// ----------SIZES
$header-height: 65;
$footer-height: 25;
