-
    const x = [
            {'src': '../../assets/images/pictures/advantages/client.svg', 'alt': 'client',
                'title': '1.203.322 Customer satisfied',
                'descr': `We've helped more than 1 million customers find best sound effects`},
            {'src': '../../assets/images/pictures/advantages/sounds.svg', 'alt': 'sounds',
                'title': '650.654 Sounds',
                'descr': 'More than 600 thousand high quality to download. Still counting'},
            {'src': '../../assets/images/pictures/advantages/free.svg', 'alt': 'free',
                'title': 'Royalty-free',
                'descr': 'Just download and use the sound for your videos without royalty'},
            {'src': '../../assets/images/pictures/advantages/correct-sounds.svg', 'alt': 'correct-sounds',
                'title': 'Provide proper sounds',
                'descr': 'We just provide sounds with the best quality  for customers'}
        ]