.advantages {
  padding: 6rem 0 10rem 0;
  &__wrapp {
    display: flex;
    justify-content: space-between;
  }
  &__question {
    color: rgb(245, 158, 0);
    font-family: $title-font;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.4rem;
    text-align: left;
    text-transform: uppercase;
  }
  &__answer {
    margin-top: 1.7rem;
    width: rem(337);
    color: $c-dark-blue;
    font-family: $title-font;
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 4.5rem;
    letter-spacing: -0.06rem;
    text-align: left;
  }
  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
        
    width: rem(602);
    margin-left: 10.5rem;
  }
  &-item {
    width: rem(246);
    margin-top: 5.3rem;
    &:nth-child(-n+2) {
      margin-top: 0;
    }
    &__wrapp {
      width: 100%;
      margin-top: 2.1rem;
    }
    &__title {
      color: $c-dark-blue;
      font-family: $primary-font;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 172%;
      letter-spacing: -0.09rem;
    }
    &__descr {
      color: $c-dark-grey;
      font-family: $title-font;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 178%;
      letter-spacing: -0.03rem;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1243px) {
  .advantages {
    padding: 4rem 0 6rem 0;
    &__wrapp {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    &__question {
      margin-top: 1rem;
    }
    &__answer{
      width: rem(466);
      font-size: 2.4rem;
      text-align: center;
      line-height: 160%;
      letter-spacing: -0.04rem;
    }
    &__list{
      margin: 0 auto;
      margin-top: 3.98rem;
    }
    &-item {
      text-align: left;
      margin-top: 5.81rem;
      &__wrapp {
        margin-top: 1.6rem;
      }
    }
  }
}

@media screen and (min-width: 319px) and (max-width: 767px) {
  .advantages{
    padding: 5rem 0 5rem;
    &__answer {
      width: rem(265);
      font-size: 2rem;
      line-height: 3rem;
      letter-spacing: -0.02rem;
    }
    &__list {
      flex-direction: column;
      margin-top: 1.7rem;
      padding: 0 2rem;
    }
    &-item {
      margin-top: 3rem;
      width: 246px;
      &:nth-child(-n+4) {
        margin-top: 3rem;
      }
      &:nth-child(1) {
        order: 1;
      }
      &:nth-child(2) {
        order: 4;
      }
      &:nth-child(3) {
        order: 2;
      }
      &:nth-child(4) {
        order: 3;
      }
    }
  }
}
