-   
    const links = [
            {'url': '#', 'text': 'Home'},
            {'url': '#youtube', 'text': 'Best for YouTube'},
            {'url': '#category', 'text': 'Category'},
            {'url': '#pricing', 'text': 'Upgrade'},
            {'url': '#feedback', 'text': 'FAQ'}
        ]
