-   
    const links = [
            {'url': '#', 'text': 'Home'},
            {'url': '#youtube', 'text': 'Best for Youtube'},
            {'url': '#category', 'text': 'Category'},
            {'url': '#pricing', 'text': 'Upgrade'},
            {'url': '#feedback', 'text': 'FAQ'}
        ]

    const brands = [
        {'url': '../../assets/images/icons/brands/google.svg', 'alt': 'google'},
        {'url': '../../assets/images/icons/brands/facebook.svg', 'alt': 'facebook'},
        {'url': '../../assets/images/icons/brands/twitter.svg', 'alt': 'twitter'}
    ]

