@import '../../styles/scaffolding';
@import '../../styles/function';
@import "./modules/index";
@import "../../components/index";

.container {
  display: block;
  width: rem(1044);
  margin: 0 auto;
}

@media screen and (max-width: 1243px) {
  .container {
    width: rem(648);
  }
}
