@import '../../styles/scaffolding';
@import '../../styles/function';
@import "./modules/index";
@import "../../components/index";


.container {
  display: block;
  margin: 0 auto;
  width: rem(1044);
}

@media screen and (min-width: 768px) and (max-width: 1243px) {
  .container {
    max-width: rem(648);
  }
}

@media screen and (min-width: 319px) and (max-width: 767px) {
  .container {
    max-width: rem(288);
  }
}
