extends ../../layout/layout

block variables
    -
        let title = 'sounds effect labrary'

block content
    include ./modules/header/header
    include ./modules/partner/partner
    include ./modules/soundsList/sounds
    include ./modules/category/category
    include ./modules/advantages/advantages
    include ./modules/pricing/pricing
    include ./modules/feedback/feedback
    include ./modules/footer/footer
    

