-
  const url = '../../assets/images/icons/double-quotes.svg';

  const buyers = [
    {'text': 'The sounds from WavesCo is great and it really helps our team to save time and production costs.',
    'url': '../../assets/images/pictures/buyers/anne.jpeg', 
    'name': 'Anne Joyce', 
    'position': 'Video editor at Dude Perfect'},
    {'text': 'WavesCo was a great choice for our team for film production, the quality is amazingly great.',
    'url': '../../assets/images/pictures/buyers/edward.jpeg', 
    'name': 'Edward Sann', 
    'position': 'Head of Video editor at Netflix'},
    {'text': 'Perfect way to get best quality sound effects for youtube videos. Thanks to WavesCo team.',
    'url': '../../assets/images/pictures/buyers/ronn.jpeg', 
    'name': 'Ronn D.', 
    'position': 'Video Editor at PewDiePie'},
    {'text': 'The sounds from WavesCo is great and it really helps our team to save time and production costs.',
    'url': '../../assets/images/pictures/buyers/anne.jpeg', 
    'name': 'Anne Joyce', 
    'position': 'Video editor at Dude Perfect'},
    {'text': 'WavesCo was a great choice for our team for film production, the quality is amazingly great.',
    'url': '../../assets/images/pictures/buyers/edward.jpeg', 
    'name': 'Edward Sann', 
    'position': 'Head of Video editor at Netflix'},
    {'text': 'Perfect way to get best quality sound effects for youtube videos. Thanks to WavesCo team.',
    'url': '../../assets/images/pictures/buyers/ronn.jpeg', 
    'name': 'Ronn D.', 
    'position': 'Video Editor at PewDiePie'}

  ]