.feedback {
  &__list {
    height: 41rem;
    position: relative;
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    min-width: 0;
  }
  &-item {
    box-sizing: border-box;
    display: block;
    width: rem(305);
    height: rem(333);
    padding: 2rem 1rem 3rem 1rem;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 0.8rem;
    background-color: $c-white;
    &__icon {
      display: block;
      margin: 0 auto;
    }
    &__text {
      color: $c-dark-grey;
      font-family: $title-font;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 172%;
    }
    &__photo {
      display: block;
      margin: 0 auto;
      margin-top: 1.5rem;
    }
    &__name {
      color: $c-dark-blue;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 172%;
    }
    &__position{
      color: $c-ligth-grey;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 172%;
    }
  }
}

.my-swiper-pagination{
  position: absolute;
  bottom: 1rem !important;
}

@media screen and (min-width: 768px) and (max-width: 1243px) {
  .feedback {
    padding: 6rem 0 4.9rem;
    &__list{
      &__list {
        margin-top: 4rem;
      }
    }
    &-item { 
      padding: 2rem 2rem 3rem 2rem;
      &__text {
        letter-spacing: -0.06rem;
        font-size: 1.4rem;
        margin-top: 0.9rem;
      }
      &__photo {
        margin-top: 1.3rem;
      }
      &__name {
        letter-spacing: -0.09rem;
        margin-top: -0.8rem;
      }
    }
  }
  .my-swiper-pagination{
    bottom: 3.9rem !important;
  }
}