.modal {
  &-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 480px;
    height: 690px;
    padding: 40px;
    border-radius: 24px;
    background-color: $c-white;
    z-index: 99;
    &__close {
      right: 4px;
      top: 4px;
      position: absolute;
      width: 4rem;
      height: 4rem;
      background: url('../../assets/images/icons/button/close_btn_ligth.svg') center center/cover no-repeat;
    }
    &__title {
      color: $c-dark-blue;
      font-family: $title-font;
      font-size: 2.8rem;
      font-weight: 600;
      line-height: 4.5rem;
      letter-spacing: -0.02rem;
    }
    &__brands {
      display: flex;
      justify-content: space-between;
      width: 124px;
      margin-top: 24px;
    }
    &__subtitle {
      margin-top: 24px;
      color: $c-ligth-grey;
      font-family: $primary-font;
      font-size: 17px;
      font-weight: 500;
      line-height: 180%;
    }
    &__form {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      width: 100%;
    }
    &__label {
      display: block;
      margin-bottom: 30px;
      color: $c-dark-grey;
      font-family: $primary-font;
      font-size: 16px;
      font-weight: 500;
      line-height: 180%;
    }
    &__input {
      display: block;
      width: 100%;
      height: 52px;
      padding: 14px 20px;
      border-radius: 8px;
      background-color: $c-super-ligth-grey;
    }
    &__btn {
      margin-top: 20px;
      width: 400px;
      height: 52px;
    }
    &__link-registr {
      margin-top: 24px;
      color: $c-blue;
      font-family: $title-font;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: -1%;
    }
    &__question {
      margin-top: 24px;
      color: rgb(172, 175, 184);
      font-family: $primary-font;
      font-size: 16px;
      font-weight: 500;
      line-height: 180%;
    }
  }
}