-
    const arr = [
                [['Product'], ['Browse sounds', 'Pricing', 'FAQ', 'Affiliate']],
                [['Company'], ['Blog', 'About us', 'Help', 'Career']],
                [['Social Media'], ['Twitter', 'Instagram', 'YouTube', 'Facebook']]
            ]