.footer {
    min-height: rem(300);
    padding: 5rem 0 5rem;
    background-color: $c-dark-blue;
    color: $c-ligth-grey;
    &__wrapp{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &-descr {
        display: flex;
        flex-direction: column;
        max-width: rem(298);
        &__logo {
            width: rem(170);
            height: 2.6rem;
        }
        &__text {
            margin-top: 2.5rem;
            color: $c-ligth-grey;
            font-family: $primary-font;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 180%;
            letter-spacing: -0.08rem;
        }
        &__copyright {
            margin-top: 3rem;
            font-family: $primary-font;
            color: rgb(172, 175, 184);
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 172%;
        }
    }
    &__list {
        color: $c-super-ligth-grey;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 172%;
        letter-spacing: -0.06rem;
    }
    &__item {
        margin-top: 1.2rem;
        color: $c-ligth-grey;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 180%;
        letter-spacing: -0.06rem;
    }
}