.custom-select {
  position: relative;
  z-index: 1;

  &__error-message {
    display: inline-block;
    padding-top: rem(8);
    color: $c-red;
  }

  &__body {
    position: relative;
  }

  &__header {
    @extend %t-p;

    position: relative;
    z-index: 2;
    width: calc(100% - 4px);
    margin: 2px;
    padding: calc(#{rem(8)} - 2px);
    background: $c-white;
    border-radius: rem(3);
    cursor: pointer;
    appearance: none;

    @media (hover: hover) {
      &:hover:not(:checked) {
        background: $c-white;
      }
    }


    &::before {
      content: attr(data-label)
    }
  }

  &__option-list {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    width: 100%;
    max-height: 0;
    padding-top: rem(32);
    overflow: hidden;
    background: $c-white;
    border: 2px solid $c-green;
    border-radius: rem(3);
  }

  &__header:checked + &__option-list {
    max-height: rem(200);
  }

  &._error &__option-list {
    border-color: $c-red;
  }

  &__option {
    @extend %t-p;

    padding: rem(4);
    cursor: pointer;
    appearance: none;

    @media (hover: hover) {
      &:hover {
        background: rgba($c-green, .1);
      }
    }

    &::before {
      content: attr(data-label)
    }

    &:checked, &._active {
      color: $c-green;
    }
  }
}
