.custom-input {
  width: 100%;

  &__placeholder {
    display: block;
    margin-bottom: rem(8);
  }

  &__target {
    width: 100%;
    padding: rem(8);
    font-size: rem(18);
    border: 2px solid $c-green;
    border-radius: rem(8);
  }


  &._error &__target {
    border-color: $c-red;
  }

  &__error-message {
    display: block;
    color: $c-red;
  }

  ._error &__error-message{
    padding-top: rem(4);
  }

}
