-
  const cards = [
    {'title': 'Basic', 'descr': 'Download any royalty-free sound effects', 'price': 'Free'},
    {'title': 'Premium', 'descr': 'Download premium sound effects and use them for any business purpose', 'price': 'Start from $12/month'}
  ]