.checkbox {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: rem(8);
  align-items: start;
  justify-content: left;

  &__target {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(10);
    height: rem(10);
    border: 1px solid $c-blue;
    border-radius: rem(3);
    cursor: pointer;
    appearance: none;

    &:checked::before {
      display: block;
      padding: rem(3);
      background: $c-green;
      border-radius: calc(rem(3) - 1px);
      content: '';
    }
  }

  &._error &__target {
    border-color: $c-red;
  }
}
