-
    const linkFilter = [
            {'text': 'All', 'href': '#'},
            {'text': 'Jumpscare', 'href': '#'},
            {'text': 'Mellow', 'href': '#'},
            {'text': 'Happiness', 'href': '#'},
            {'text': 'Ambience', 'href': '#'},
            {'text': 'Zonk', 'href': '#'}
        ]

    const soundItem = {
        'soundName': 'Sound name',
        'timer': '0:12',
        'descr': `Confused excited crowd slight panic and distress`,
        'singer': 'Shocking,  jumpscare', 
    }