include ./constants

section.category#category
        .container
            h2.category__title Browse by category
            ul.category__list
                for item in songsCategory
                    li.category__item
                        img.category__image(src=item.src, alt=item.alt)
                        span.category__desrc=item.text
            .category__link
                +Button({
                    label: 'See all category',
                    url: '#',
                    type: emit 
                })
