-
    const songsCategory = [
            {'src': '../../assets/images/pictures/category/musical.jpeg', 
                'alt': 'musical category', 
                'text': 'Musical'},
            {'src': '../../assets/images/pictures/category/industrial.jpeg', 
                'alt': 'industrial category', 
                'text': 'Industrial'},
            {'src': '../../assets/images/pictures/category/movies.jpeg', 
                'alt': 'movies category', 
                'text': 'Movies sounds'},
            {'src': '../../assets/images/pictures/category/animal.jpeg', 
                'alt': 'animal category', 
                'text': 'Animal'},
            {'src': '../../assets/images/pictures/category/people.jpeg', 
                'alt': 'people category', 
                'text': 'People'},
            {'src': '../../assets/images/pictures/category/vechiles.jpeg', 
                'alt': 'vechiles category', 
                'text': 'Vechiles'},
            {'src': '../../assets/images/pictures/category/designs.jpeg', 
                'alt': 'designs category', 
                'text': 'Sound designs'},
            {'src': '../../assets/images/pictures/category/emergency.jpeg', 
                'alt': 'emergency category', 
                'text': 'Emergency'},
            {'src': '../../assets/images/pictures/category/bell.jpeg', 
                'alt': 'bell category', 
                'text': 'Bell'},
            {'src': '../../assets/images/pictures/category/nature.jpeg', 
                'alt': 'nature category', 
                'text': 'Nature'},
            {'src': '../../assets/images/pictures/category/cartoon.jpeg', 
                'alt': 'cartoon category', 
                'text': 'Cartoon'},
            {'src': '../../assets/images/pictures/category/horror.jpeg', 
                'alt': 'horror category', 
                'text': 'Horror'}
        ]