.category {
  min-height: 48.2rem;
  padding-top: 6rem;
  &__title {
    color: $c-dark-blue;
    font-family: $title-font;
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 4.5rem;
    letter-spacing: -0.05rem;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    left: 0;
    margin-top: 0.7rem;
  }
  &__item {
    width: rem(157);
    height: 11.7rem;
    position: relative;
    margin-top: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__image {
    width: 100%;
    object-fit: fill;
    border-radius: .5rem;
  }
  &__desrc {
    position: absolute;
    text-align: center;
    color: $c-super-ligth-grey;
    font-family: $primary-font;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 172%;
    letter-spacing: -0.09rem;
  }
  &__link {
    margin-top: 3.4rem;
  }
}

@media screen and (max-width: 768px) {
  .category{
    &__title {
      font-size: 2.4rem;
    }
    &__item {
      width: rem(150);
    }
    &__item {
      margin-top: 1.2rem;
    }
    &__link {
      margin-top: 1.5rem;
    }
  }
}