.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: rem($header-height);
  padding: 0.8rem ;
  background-color: $c-green;

  &__title {
    margin-bottom: 0;
    color: $c-white;
    font-size: rem(18);
  }
}
